.container
  .row
    .col-lg-12
      %h1.page-header
        VIDEOS
        %small library
  - @videos.each do |video|
    .row
      %p= video.title
    .row
      .col-md-7
        = videojs_rails sources: { mp4: video.file.url(:mp4), webm: video.file.url(:webm) }, width: '100%', height:'500'
        %br
        = render partial: 'watermark', locals: {video: video}
      .col-md-5
        = image_tag(video.file.thumb, class: 'img-responsive')
    %hr/
  .row.text-center
    .col-lg-12
      - if @videos.try(:pages)
        = pagination(@videos)
  %hr/
  %footer
    .row
      .col-lg-12
        %p Copyright © Solar 2017
